.card-title {
    background: var(--gradient);
    background-clip: text;
    color: transparent;
}

.card-body {
    text-align: center;
    color: pink;
    background-color: white;
    background-clip: text;
    color: transparent;
}
