#title {
    text-transform: capitalize;
    color: white;
    text-align: center;
}

form label {
    color: white;
}

form textarea {
    resize: none;
    
}

form .submit-btn:disabled {
    background-color: var(--blue-dark);
    border: var(--blue-dark);
}