.portfolioWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: column;
    height: 100%;
    width: 100vw;
    transition: translate 4000ms ease-in;
}

#portfolioGrid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 18rem));
    grid-template-rows: repeat(auto-fill, 2fr);
    gap: 2rem;
    height: min-content;
    justify-content: center;
    justify-items: center;
    margin-bottom: 6vh;
}

#detailsContainer {
    position: absolute;
    top: 40vh;
    left: 150vw;
    transform: translateY(-50%) translateX(-50%);
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    background-color: darkseagreen;
    transition: slide 3000ms ease-in;
}



#detailsContainer:active {
    animation: slide 2000ms forwards;
}

@keyframes slide {
    100% { 
        left: 0;
    }
}