.grid-wrapper {
    padding-bottom: 25px;
}
/*
#detailsContainer {
    position: absolute;
    top: 40vh;
    left: 150vw;
    transform: translateY(-50%) translateX(-50%);
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    background-color: darkseagreen;
    transition: slide 3000ms ease-in;
}



#detailsContainer:active {
    animation: slide 2000ms forwards;
}

@keyframes slide {
    100% { 
        left: 0;
    }
} */