.skills-page-title {
    color: var(--white);
    text-align: center;
}

.skills-title {
    color: var(--white);
    text-align: center;
}

.skills-list li {
    color: var(--white-secondary);
    -webkit-text-fill-color: var(--white-secondary);
    list-style-type: none;
    text-align: center;
}