.cardDetailsWrapper {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2fr 1fr 8fr;

    height: 50vh;
    aspect-ratio: 5/8;
    padding: 0;
    margin: 0;

    text-align: center;
    cursor: pointer;
}

.cardDetailsWrapper h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
}

.cardDetailsWrapper h2 {
    padding: 0 1rem;
    margin: 0;
    font-size: .75rem;
}

.cardDescription {
    max-height: 100%;
    padding-bottom: 10%;
}