.cardWrapper {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2fr 1fr 8fr;

    height: 50vh;
    aspect-ratio: 5/8;
    padding: 0;
    margin: 0;

    text-align: center;
    cursor: pointer;
}

.cardWrapper h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
}

.cardWrapper h2 {
    padding: 0 1rem;
    margin: 0;
    font-size: .75rem;
}

.cardImgHolder {
    max-height: 100%;
    overflow: hidden;
    padding-bottom: 10%;
}

img {
    height: 100%;
    width: auto;
    object-fit: cover;
    
}

.cardWrapper:hover {
    transform: scale(1.02);
}