.navbar {
    background-color: var(--bg-secondary);
}

.navbar .active {
    text-decoration: none;
    font-style: italic;
    transition: transform 200ms ease-in;
    color: var(--pink);
    -webkit-text-fill-color: var(--pink);
}

#navbar-logo {
    background: var(--gradient);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.navbar-button {
    color: transparent;
}

.collapse-icon {
    color: var(--white);
}

.nav-option {
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    transition: transform 200ms ease-in;
}

.nav-option:hover {
    color: var(--pink);
    -webkit-text-fill-color: var(--pink);
}
/* 
.nav-option:focus {
    color: var(--pink);
} */

@media (min-width: 576px) {
    .nav-option:hover {
        transform: scale(1.06);
    }
}